.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima de todo */
  background-color: #a0522d;
  padding: 0.8rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #8b4513;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.nav-logo img {
  height: 50px;
  vertical-align: middle;
}

.nav-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2rem;
  list-style: none;
  margin: 5px;
  padding: 0;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

nav {
  background-color: #f5e6d3;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(120, 72, 0, 0.1);
  border-bottom: 2px solid #d4b08a;
  font-family: "Segoe UI", sans-serif;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

nav li {
  position: relative;
}

nav a {
  text-decoration: none;
  color: #fbf5eb;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

nav a:hover {
  background-color: #8b4513;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #f9eee8;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.in-cart {
  background-color: #fff8f0;
  color: #a0522d ;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -10px;
  box-shadow: 0 2px 4px rgba(80, 40, 0, 0.2);
}
.cart-link {
    position: relative;
    padding-right: 50px; 
}

@media (max-width: 768px) {
  .main-nav {
    padding: 0.8rem 1rem;
  }
  .cart-link {
    padding-right: 0;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0; 
    overflow: hidden;
    background-color: #a0522d;
    box-shadow: 0 4px 6px rgba(120, 72, 0, 0.1);
    transition: max-height 0.4s ease-in-out, background-color 0.3s;
  }
  .nav-toggle {
    display: block;
    z-index: 1010;
  }
  .nav-links li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Separador sutil */
    }
    
    .nav-links li:last-child {
        border-bottom: none;
    }
    
    .nav-links a {
        display: block;
        padding: 1rem 0;
    }

    
    .nav-links.open {
        max-height: 400px; /*verificar si ajustar) */
    }
}
